<div class="col-md-8 map-container" style="padding-left: 0px;padding-right: 0px; height: 100%">
	<div id="mapnew" style='width: 100%; height: 800px;'></div>
</div>

<div class="col-md-4  whitefullheight">
	
	<br><h1> Create Your New Event</h1>

	<%= render 'form' %>

</div>

<div class="col-md-4" id="directions-panel">
	<h3>Directions and Distance to Selected Park</h3>
</div>
</div>

<%= render 'map_script' %>

