.devise-body {
	margin-top: 67px;
	background-color: #0C5944;
	font-family: 'Josefin Sans', sans-serif;

}

.devise-content {
	color: black;
	font-family: 'Josefin Sans', sans-serif;
}

.field {
	color: black;
	font-size: 15px;
	padding: 2px;
}

.panel-override {
	padding-bottom: 20px;
	width: 60%;
	background-color: white;
	box-shadow: 5px 5px 5px #0a4b38;
}